/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~highlight.js/styles/github.css';

html, body { 
    height: 100%;
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// global content wrapper
.content-wrapper {
    margin: 30px auto;
    width: 80%;
}

// headers
.background-header {
    height: 70px;
    width: 100%;
    background-color: orange;
    color: black;
    display: flex;
    align-items: center;
}




