
<div class="content-wrapper">
    <div class="top-menu">{{article?.category1_name}} -- {{article?.category2_name}}</div>

    <div class="title">{{article?.title}}</div>

    <div *ngFor="let example of article?.example">
        <div class="text-wrapper">
            <pre class="text" [innerHtml]="example.text"></pre>
        </div>

        <div *ngIf="example.code != ''" class="code-wrapper">
            <pre><code class="code" [languages]="['javascript']" highlight='{{example.code}}'></code></pre>
        </div>

    </div>
</div>

